@tailwind base;
@tailwind components;
@tailwind utilities;
body {
font-family: "Inter", sans-serif;
}
@layer utilities {
.flex-center {
@apply flex justify-center items-center;
}
.flex-between {
@apply flex justify-between items-center;
}
.flex-start {
@apply flex justify-start items-center;
}
.card-wrapper {
@apply bg-light-900 dark:dark-gradient shadow-light-100;
}
.btn {
@apply bg-light-800 dark:bg-dark-300 !important;
}
.btn-secondary {
@apply bg-light-800 dark:bg-dark-400 !important;
}
.btn-tertiary {
@apply bg-light-700 dark:bg-dark-300 !important;
}
.markdown {
@apply max-w-full prose dark:prose-p:text-light-700 dark:pros;
}
.primary-gradient {
background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%)
}
.dark-gradient {
background: linear-gradient(
232deg,
rgba(23, 28, 35, 0.41) 0%,
rgba(19, 22, 28, 0.7) 100%
);
}
.tab {
@apply min-h-full dark:bg-dark-400 bg-light-800 text-light-5;
}
}

.cl-card{
    background-color:#0F1117;
    box-shadow: 0 0 10px white;
}
.cl-internal-b3fm6y{
    display: none;
}
.cl-headerTitle{
    color: #ff7000;
    text-align: center;
}
.cl-headerSubtitle{
    color: white;
    text-align: center;
}
.cl-socialButtonsBlockButtonText{
    color: white;
}
.cl-dividerText{
    color: white;
}
.cl-formFieldLabel{
    color: white;
}
.cl-formFieldInput{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.cl-footerActionText{
    color: white;
}
.cl-formButtonPrimary{
    background-color: #ff7000;
}
.cl-formButtonPrimary:hover{
    background-color: #e2995f;
}
.cl-footerActionLink{
    color: #ff7000;
}
.cl-pageScrollBox {
    background-color: white;
}
.cl-headerSubtitle{
    color: #0F1117;
}
.cl-navbar{
    background-color: rgb(131, 10, 217);
    color: white;
    border-radius: 15px;
}
.cl-navbarButton {
    background-color: white;
}
.cl-internal-1ho4xv{
    color: white;
}
.cl-userPreviewSecondaryIdentifier{
    color: white;
}
.cl-userButtonPopoverActionButtonText {
 color: white;
}
.cl-internal-td400p{
    color: white;
}
.cl-internal-1h80eck{
    color: white;
}
.cl-internal-13zhnx0 {
    color: #0F1117;
}
.sr-only{
    color: white;
}
/* .addBg{
    background-color: #171a23f7;
    width: 600px;
    height: 47px;
    padding: 0 15px;
    gap: 5px;
    border-radius: 10px;
    margin-left: 50px;
} */
/* .addBg>input{
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    margin-left: 8px;
} */
.rightsidebar{
    width: 350px;
}
.top-questions{
    color: white;
    margin-bottom:18px;
    margin-top: -1.5rem;
}

.title{
    font-size: 13px;
    color: rgb(227, 227, 254);
}
/* .tags{
    margin-top: 1rem;
} */
.popTags{
    margin-bottom: 30px;
}
.maintag{
    background-color: #1e222e;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
}
@media (min-width: 1200px) {
    /* Hide the element when screen is xl or larger */
    .rightsidebar {
      display: none;
    }
  }